body {
    margin-top: 20px;
    background-color: white;
}
.container {
    width: 960px;
    margin: auto;
}

header {
    height: 50px;
    font-size: 36px;
    padding: 2px;
    text-align: center; }
    header a {
        color: black;
        font-weight: bold;
        text-decoration: none; }
    header a:hover {
        color: black; }


.FormContainer {
    text-align: center; }
.FormContainer textarea {
    width: 960px;
    font-size: 140%; }
.FormContainer input[type="submit"] { width: 100%; font-size: 200%; }

input.clean-gray {
  background: #eee;
  background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px;
}

input.clean-gray:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}

input.clean-gray:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}

textarea { color: black }

footer {
    text-align: right;
    padding-right: 10px;
    padding-top: 2px; }
    footer a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

/* smart phones */
@media screen and (max-device-width: 480px) {
}
