[% WRAPPER 'include/layout.tt' %]

<div class="FormContainer">
    <form method="post" action="[% uri_for('/post') %]" class="nopaste">
    <fieldset>
    <textarea name="body" rows="20" cols="60"></textarea>
    <input type="submit" value="post" class="clean-gray" />
    </fieldset>
    </form>
</div>

[% END %]
